
 <table>
     <thead>

         <th>제목 : <%= @post.title %> </th>
            <% if @post.user_id? %>
            <% @writer = @all_users.find(@post.user_id) %>
            <td><%= @writer.name %></td>
            <% else %>
            <th> 무명의 작성자 </th>
            <% end %>
     </thead>
<br>
    <tbody>
        <td>
            <br>
        <%= @post.contents %><br>            
        <br>
        <br>
        <br>
        <br>
        
        </td>
    </tbody>
</table>
    <% if current_user == @writer %>
        <%= link_to "수정", edit_post_path(@post) %>
        <%= link_to "삭제", post_path(@post), method: :delete %>
    <% end %>
        <%= link_to "뒤로가기", posts_path %>